header{
    /* position: fixed */
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.btn-primary{
    background-color: #0f52ba;
    border-color: #0f52ba;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.logo{
    color: #B0C4DE;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}

.logo span{
    color: #0F52BA;
}